@use '../var' as *;

@mixin link-hover-presets {
  &:hover {
    cursor: pointer;
  }

  html &,
  html[data-theme='light'] &:hover {
    color: $scheme-cs-2;

    /* For SVGs we have to use fill instead of color */
    svg {
      &, * {
        fill: $scheme-cs-2;
      }
    }
  }

  html[data-theme='dark'] &:hover {
    color: $scheme-cs-1;

    /* For SVGs we have to use fill instead of color */
    svg {
      &, * {
        fill: $scheme-cs-1;
      }
    }
  }
}
