@use '../var' as *;

@mixin link-hover-presets {
  &:hover {
    cursor: pointer;
  }

  html &:hover,
  html[data-theme='light'] &:hover {
    color: $scheme-link-hover-color;

    /* For SVGs we have to use fill instead of color */
    svg {
      &:not(.req-stroke),
      *:not(.req-stroke) {
        fill: $scheme-link-hover-color;
      }

      &.req-stroke,
      *.req-stroke {
        stroke: $scheme-link-hover-color;
      }
    }
  }

  html[data-theme='dark'] &:hover {
    color: $scheme-link-hover-color;

    /* For SVGs we have to use fill instead of color */
    svg {
      &:not(.req-stroke),
      *:not(.req-stroke) {
        fill: $scheme-link-hover-color;
      }

      &.req-stroke,
      *.req-stroke {
        stroke: $scheme-link-hover-color;
      }
    }
  }
}

@mixin link-hover-presets-with-background {
  @include link-hover-presets;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
