@use '../var' as *;

@mixin view-presets {
  height: $main-body-height;
  width: $main-body-width;
  padding: $main-body-padding;
  margin: $main-body-margin;
}

@mixin scrollable-view-presets {
  @include view-presets;
  min-height: $main-body-height;
  height: unset !important;
  overflow-y: auto;
}
