// Boilerplate styles which serve as a starting point for the rest of the styles
@use './core/boilerplate/main' as *;
@use './core/boilerplate/normalise' as *;

// Core opinionated styles which are used throughout the app
@use './core/var' as *;
@use './core/text' as *;
@use './core/button' as *;
@use './core/spinner' as *;
@use './core/dotdotdot' as *;
@use './core/full-screen' as *;
@use './core/emphasised-link' as *;

// Other dependencies
@use './vueform' as *;
@use './notif' as *;

// Make app take up whole screen
body #app {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

// Set background color based on the selected theme (dark/light)
html {
  body {
    background-color: $scheme-background;
  }
}

// Ensure the dropdown has a margin to the left
.v-dropdown-container {
  margin-left: 0.25rem !important;
  z-index: 50 !important;
}
