@use './core/var' as var;

.page-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: var.$page-content-wrapper-height;
  width: var.$page-content-wrapper-width;
}

.page-content-container {
  width: 80vw;
  min-width: min(30vw, 100px);
  max-width: min(80vw, 500px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: var.$overlay-background-color;
  box-shadow: 0 0 10px 0 var.$box-shadow-color;
  margin: var.$page-content-container-margin;
  padding: var.$page-content-container-padding;

  &.small {
    max-width: 30vw;
  }

  &.large {
    width: unset;
    min-width: 60vw;
    max-width: 80vw;
  }
}
