@use "./var" as *;

button.home-button {
  font-size: $home-button-font-size;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 26px;

  &:hover {
    cursor: pointer;
  }

  &:not(.transparent) {
    color: white;
    border: none;
    background-color: $scheme-cs-2;

    &:hover {
      background-color: $scheme-cs-1;
    }
  }

  &.transparent {
    color: $home-button-transparent-text-color;
    border: 2px solid $home-button-transparent-text-color;
    padding: calc(0.75rem - 2px) calc(4rem - 2px);
    background-color: transparent;

    &:hover {
      color: $home-button-transparent-hover-text-color;
      background-color: $home-button-transparent-text-color;
    }
  }
}
