@use './mixins/link-hover-presets' as *;
@use './var' as *;

button {
  /* Revert the default button styles */
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;
}

button.home-button {
  font-size: $home-button-font-size;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 26px;

  &:hover {
    cursor: pointer;
  }

  &:not(.transparent) {
    color: white;
    border: none;
    background-color: $scheme-cs-2;

    &:hover {
      background-color: $scheme-cs-1;
    }
  }

  &.transparent {
    color: $home-button-transparent-text-color;
    border: 2px solid $home-button-transparent-text-color;
    padding: calc(0.75rem - 2px) calc(4rem - 2px);
    background-color: transparent;

    &:hover {
      color: $home-button-transparent-hover-text-color;
      background-color: $home-button-transparent-text-color;
    }
  }
}

button.editor-button {
  font-size: $editor-button-font-size;
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin: 0;
  background: transparent;

  &:hover {
    @include link-hover-presets;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

button.sandwich-button {
  font-size: $editor-button-font-size;
  text-decoration: none;
  padding: 0;
  margin: 0;
  background: transparent;

  &:hover {
    @include link-hover-presets;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
