@use './mixins/link-hover-presets' as *;
@use './mixins/align-center' as *;
@use './var' as *;

button {
  /* Revert the default button styles */
  border: none;
  background: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: none;

  &.no-wrap-button {
    &,
    & * {
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

button.home-button {
  font-size: $button-font-size;
  display: inline-block;
  padding: 0.75rem 4rem;
  border-radius: 26px;

  &:hover {
    cursor: pointer;
  }

  &:not(.transparent) {
    color: white;
    border: none;
    background-color: $scheme-cs-2;

    &:hover {
      background-color: $scheme-cs-1;
    }
  }

  &.transparent {
    color: $stylised-button-text-color;
    border: 2px solid $stylised-button-text-color;
    padding: calc(0.75rem - 2px) calc(4rem - 2px);
    background-color: transparent;

    &:hover {
      color: $stylised-button-hover-text-color;
      background-color: $stylised-button-text-color;
    }
  }
}

button.highlighted-button {
  display: inline-block;
  line-height: 1;
  font-size: $highlighted-button-font-size;
  border-radius: 26px;
  color: $stylised-button-text-color;
  border: 2px solid $stylised-button-text-color;
  padding: calc(0.5rem) calc(2rem - 2px) calc(0.5rem - 4px) calc(2rem - 2px);
  background-color: transparent;

  &:hover {
    cursor: pointer;
    color: $stylised-button-hover-text-color;
    background-color: $stylised-button-text-color;
  }

  &:disabled,
  &[disabled] {
    color: $stylised-button-disabled-color;
    border: 2px solid $stylised-button-disabled-color;
    background-color: transparent;
    cursor: not-allowed;
  }
}

button.editor-button {
  font-size: $editor-button-font-size;
  text-decoration: none;
  background: transparent;
  padding: 0.5rem 0.8rem;
  margin: 0;

  &:hover {
    @include link-hover-presets-with-background;
  }
}

button.sandwich-button {
  @include align-center();

  $sandwich-button-height: 2rem;

  font-size: $editor-button-font-size;
  text-decoration: none;
  background: transparent;
  height: $sandwich-button-height;
  width: $sandwich-button-height;
  flex-shrink: 0;
  padding: 0;
  margin: 0;

  &:hover,
  &.highlighted {
    @include link-hover-presets;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

button.block-button {
  font-size: $editor-button-font-size;
  text-decoration: none;
  background: transparent;
  padding: 0.5rem 1.5rem;
  margin: 0;
  border: 2px solid $text-color;
  color: $text-color;

  @include link-hover-presets;

  &:hover {
    background-color: $text-color-inverted;
    color: $text-color !important;
  }

  &.dark-mode-overwrite {
    border: 2px solid white;
    color: white;

    &:hover {
      background-color: white;
      color: black !important;
    }
  }

  &.light-mode-overwrite {
    border: 2px solid black;
    color: black;

    &:hover {
      background-color: black;
      color: white !important;
    }
  }
}
