:root {
  // Color-scheme presets
  --scheme-cs-1: #0e21a0;
  --scheme-blue: var(--scheme-cs-1);
  --scheme-cs-2: #4d2db7;
  --scheme-purple: var(--scheme-cs-2);
  --scheme-cs-2-intense: rgba(112, 90, 183, 1);
  --scheme-purple-intense: var(--scheme-cs-2-intense);
  --scheme-cs-2-subtle: rgba(112, 90, 183, 0.5);
  --scheme-purple-subtle: var(--scheme-cs-2-subtle);
  --scheme-cs-3: #9d44c0;
  --scheme-lavender: var(--scheme-cs-3);
  --scheme-cs-4: #ec53b0;
  --scheme-pink: var(--scheme-cs-4);
  --scheme-space-gray: #717378;
  --scheme-gray: var(--scheme-space-gray);
  --scheme-space-black: #2c2c2c;
  --scheme-black: var(--scheme-space-black);
  --scheme-neutral-gray: #f6f8fa;
  --scheme-background-black: #0f111a;
  --scheme-background-black-subtle: #242038;
  --scheme-background-blue: #10355b;
  --scheme-background-blue-subtle: #0f2555;
  --scheme-editor-black: var(--scheme-background-black);
  --scheme-editor-blue: var(--scheme-background-blue);
  --scheme-white-subtle: rgba(255, 255, 255, 0.2);
  --scheme-link-hover-color: var(--scheme-cs-2);
  --scheme-starting-green: #8be19c;
  --scheme-healthy-green: #00b834;
  --scheme-warning-yellow: #ffcc00;
  --scheme-danger-red: #ff0000;
  --scheme-catastrophic-red: #940027;

  // Universal gray tones
  --scheme-gray-100: #f3f4f6;
  --scheme-gray-200: #e5e7eb;
  --scheme-gray-300: #d1d5db;
  --scheme-gray-400: #9ca3af;
  --scheme-gray-500: #6b7280;
  --scheme-gray-600: #4b5563;
  --scheme-gray-700: #374151;
  --scheme-gray-800: #1f2937;
  --scheme-gray-900: #111827;

  // Vueform config
  --vueform-button-color: var(--scheme-cs-2);
  --vueform-button-color-hover: var(--scheme-cs-1);

  // Button presets
  --stylised-button-disabled-color: var(--scheme-gray-500);

  // Font-size presets
  --button-font-size: 20px;
  --editor-button-font-size: 16px;
  --highlighted-button-font-size: 16px;

  // Window size presets
  --window-large: 1200px;
  --window-medium: 900px;
  --window-small: 600px;

  // Nav-bar presets (Required to allow for easier dynamic resizing)
  --nav-bar-height: 60px;
  --nav-bar-width: 100%;
  --nav-bar-padding: 0 1rem;
  --nav-bar-margin: 0;

  // Main body presets
  --main-body-height: calc(100vh - var(--nav-bar-height));
  --main-body-width: 100%;
  --main-body-padding: 0;
  --main-body-margin: 0;

  // Login/Signup presets
  --login-signup-wrapper-height: calc(100vh - var(--nav-bar-height));
  --login-signup-wrapper-width: 100%;

  // Editor body presets
  --editor-body-height: var(--main-body-height);
  --editor-menu-height: 2rem;
  --editor-menu-padding: 0;
  --editor-menu-margin: 0;
  --editor-menu-button-menu-padding: 0;
  --editor-menu-button-menu-margin: 0;
  --editor-monaco-and-preview-menu-height: calc(
    var(--editor-body-height) - var(--editor-menu-height) - var(--editor-border-width)
  );
  --editor-preview-menu-height: var(--editor-monaco-and-preview-menu-height);
  --editor-monaco-height: var(--editor-monaco-and-preview-menu-height);
  --editor-monaco-width: 65vw;
  --editor-monaco-padding-top: 1rem;
  --editor-monaco-margin: 0;
  --editor-border-width: 1px;
  --editor-border: 1px solid var(--text-color);

  // Editor preview presets (Has a ratio of 2:1)
  --editor-preview-frame-width: calc(
    100vw - var(--editor-monaco-width) - var(--editor-border-width)
  );
  --editor-preview-frame-height: calc(var(--editor-preview-frame-width) * 0.5);
  --editor-preview-frame-padding: 0;
  --editor-preview-frame-margin: 0;

  // Editor preview remaining presets
  --editor-preview-meta-info-height: 3rem;
  --editor-preview-meta-info-padding: 0 1rem;
  --editor-preview-slides-navigator-padding: 0.5rem 0;
  --editor-preview-slides-navigator-height: 11rem;
  --editor-preview-slides-navigator-width: var(--editor-preview-frame-width);
  --editor-preview-slides-navigator-element-height: 10rem;
  --editor-preview-slides-navigator-element-width: calc(
    var(--editor-preview-slides-navigator-element-height) * 2
  );
  --editor-preview-slides-navigator-element-margin: 0.5rem;
  --editor-preview-sub-slides-navigator-height: max(
    calc(
      100vh - var(--nav-bar-height) - var(--editor-menu-height) - var(--editor-preview-frame-height) - var(
          --editor-preview-meta-info-height
        ) - var(--editor-preview-slides-navigator-height) - var(--editor-border-width)
    ),
    15rem
  );
  --editor-preview-sub-slides-navigator-list-height: var(
    --editor-preview-sub-slides-navigator-height
  );
  --editor-preview-sub-slides-navigator-list-width: calc(
    var(--editor-preview-slides-navigator-element-width) +
      var(--editor-preview-slides-navigator-element-margin) * 2
  );
  --editor-preview-sub-slides-navigator-list-element-height: calc(
    var(--editor-preview-slides-navigator-element-height) - 1rem
  );
  --editor-preview-sub-slides-navigator-list-element-width: calc(
    var(--editor-preview-sub-slides-navigator-list-element-height) * 2
  );
  --editor-preview-sub-slides-navigator-list-element-margin: 0.5rem;
}

// Color-scheme presets
$scheme-cs-1: var(--scheme-cs-1);
$scheme-blue: var(--scheme-cs-1);
$scheme-cs-2: var(--scheme-cs-2);
$scheme-purple: var(--scheme-cs-2);
$scheme-cs-2-intense: var(--scheme-cs-2-intense);
$scheme-purple-intense: var(--scheme-cs-2-intense);
$scheme-cs-2-subtle: var(--scheme-cs-2-subtle);
$scheme-purple-subtle: var(--scheme-cs-2-subtle);
$scheme-cs-3: var(--scheme-cs-3);
$scheme-lavender: var(--scheme-cs-3);
$scheme-cs-4: var(--scheme-cs-4);
$scheme-pink: var(--scheme-cs-4);
$scheme-space-gray: var(--scheme-space-gray);
$scheme-gray: var(--scheme-space-gray);
$scheme-space-black: var(--scheme-space-black);
$scheme-black: var(--scheme-space-black);
$scheme-neutral-gray: var(--scheme-neutral-gray);
$scheme-background-black: var(--scheme-background-black);
$scheme-editor-black: var(--scheme-background-black);
$scheme-editor-blue: var(--scheme-editor-blue);
$scheme-white-subtle: var(--scheme-white-subtle);
$scheme-link-hover-color: var(--scheme-cs-2);
$scheme-starting-green: var(--scheme-starting-green);
$scheme-healthy-green: var(--scheme-healthy-green);
$scheme-warning-yellow: var(--scheme-warning-yellow);
$scheme-danger-red: var(--scheme-danger-red);
$scheme-catastrophic-red: var(--scheme-catastrophic-red);

// Universal gray tones
$scheme-gray-100: var(--scheme-gray-100);
$scheme-gray-200: var(--scheme-gray-200);
$scheme-gray-300: var(--scheme-gray-300);
$scheme-gray-400: var(--scheme-gray-400);
$scheme-gray-500: var(--scheme-gray-500);
$scheme-gray-600: var(--scheme-gray-600);
$scheme-gray-700: var(--scheme-gray-700);
$scheme-gray-800: var(--scheme-gray-800);
$scheme-gray-900: var(--scheme-gray-900);

// Vueform config
$vueform-button-color: var(--vueform-button-color);
$vueform-button-color-hover: var(--vueform-button-color-hover);

// Font-size presets
$button-font-size: var(--button-font-size);
$editor-button-font-size: var(--editor-button-font-size);
$highlighted-button-font-size: var(--highlighted-button-font-size);

// Window size presets
$window-large: 1200px;
$window-medium: 900px;
$window-small: 600px;

// Nav-bar presets (Required to allow for easier dynamic resizing)
$nav-bar-height: var(--nav-bar-height);
$nav-bar-width: var(--nav-bar-width);
$nav-bar-padding: var(--nav-bar-padding);
$nav-bar-margin: var(--nav-bar-margin);

// Main body presets
$main-body-height: var(--main-body-height);
$main-body-width: var(--main-body-width);
$main-body-padding: var(--main-body-padding);
$main-body-margin: var(--main-body-margin);

// Login/Signup presets
$login-signup-wrapper-height: var(--login-signup-wrapper-height);
$login-signup-wrapper-width: var(--login-signup-wrapper-width);

// Editor body presets
$editor-body-height: var(--editor-body-height);
$editor-menu-height: var(--editor-menu-height);
$editor-menu-padding: var(--editor-menu-padding);
$editor-menu-margin: var(--editor-menu-margin);
$editor-menu-button-menu-padding: var(--editor-menu-button-menu-padding);
$editor-menu-button-menu-margin: var(--editor-menu-button-menu-margin);
$editor-monaco-and-preview-menu-height: var(--editor-monaco-and-preview-menu-height);
$editor-preview-menu-height: var(--editor-preview-menu-height);
$editor-monaco-height: var(--editor-monaco-height);
$editor-monaco-width: var(--editor-monaco-width);
$editor-monaco-padding-top: var(--editor-monaco-padding-top);
$editor-monaco-margin: var(--editor-monaco-margin);
$editor-border-width: var(--editor-border-width);
$editor-border: var(--editor-border);

// Editor preview presets (Has a ratio of 2:1)
$editor-preview-frame-width: var(--editor-preview-frame-width);
$editor-preview-frame-height: var(--editor-preview-frame-height);
$editor-preview-frame-padding: var(--editor-preview-frame-padding);
$editor-preview-frame-margin: var(--editor-preview-frame-margin);

// Editor preview remaining presets
$editor-preview-meta-info-height: var(--editor-preview-meta-info-height);
$editor-preview-meta-info-padding: var(--editor-preview-meta-info-padding);
$editor-preview-slides-navigator-padding: var(--editor-preview-slides-navigator-padding);
$editor-preview-slides-navigator-height: var(--editor-preview-slides-navigator-height);
$editor-preview-slides-navigator-width: var(--editor-preview-slides-navigator-width);
$editor-preview-slides-navigator-element-height: var(
  --editor-preview-slides-navigator-element-height
);
$editor-preview-slides-navigator-element-width: var(
  --editor-preview-slides-navigator-element-width
);
$editor-preview-slides-navigator-element-margin: var(
  --editor-preview-slides-navigator-element-margin
);
$editor-preview-sub-slides-navigator-height: var(--editor-preview-sub-slides-navigator-height);
$editor-preview-sub-slides-navigator-list-height: var(
  --editor-preview-sub-slides-navigator-list-height
);
$editor-preview-sub-slides-navigator-list-width: var(
  --editor-preview-sub-slides-navigator-list-width
);
$editor-preview-sub-slides-navigator-list-element-height: var(
  --editor-preview-sub-slides-navigator-list-element-height
);
$editor-preview-sub-slides-navigator-list-element-width: var(
  --editor-preview-sub-slides-navigator-list-element-width
);
$editor-preview-sub-slides-navigator-list-element-margin: var(
  --editor-preview-sub-slides-navigator-list-element-margin
);

// Light & Dark Theme
html,
html[data-theme='light'] {
  --text-color: black;
  --text-color-inverted: white;
  --overlay-background-color: white;
  --overlay-background-color-subtle: var(--scheme-neutral-gray);
  --stylised-button-background-color: var(--scheme-cs-2);
  --stylised-button-hover-text-color: white;
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --vueform-background: white;
  --vueform-background-hover: var(--scheme-gray-100);
  --dot-dot-dot-color: var(--scheme-cs-2);
  --dot-dot-dot-color-subtle: var(--scheme-cs-2-subtle);
  --scheme-background: transparent;
}

html[data-theme='dark'] {
  --text-color: white;
  --text-color-inverted: black;
  --overlay-background-color: var(--scheme-background-black-subtle);
  --overlay-background-color-subtle: var(--scheme-background-blue-subtle);
  --box-shadow-color: transparent;
  --vueform-background: var(--scheme-gray-900);
  --vueform-background-hover: var(--scheme-gray-700);
  --stylised-button-background-color: white;
  --stylised-button-hover-text-color: black;
  --dot-dot-dot-color: white;
  --dot-dot-dot-color-subtle: var(--scheme-white-subtle);
  --scheme-background: var(--scheme-background-black);
}

$text-color: var(--text-color);
$text-color-inverted: var(--text-color-inverted);
$overlay-background-color: var(--overlay-background-color);
$overlay-background-color-subtle: var(--overlay-background-color-subtle);
$box-shadow-color: var(--box-shadow-color);
$vueform-background: var(--vueform-background);
$vueform-background-hover: var(--vueform-background-hover);
$stylised-button-text-color: var(--stylised-button-background-color);
$stylised-button-hover-text-color: var(--stylised-button-hover-text-color);
$stylised-button-disabled-color: var(--stylised-button-disabled-color);
$dot-dot-dot-color: var(--dot-dot-dot-color);
$dot-dot-dot-color-subtle: var(--dot-dot-dot-color-subtle);
$scheme-background: var(--scheme-background);
