:root {
  // Color-scheme presets
  --scheme-cs-1: #0e21a0;
  --scheme-blue: var(--scheme-cs-1);
  --scheme-cs-2: #4d2db7;
  --scheme-purple: var(--scheme-cs-2);
  --scheme-cs-2-intense: rgba(112, 90, 183, 1);
  --scheme-purple-intense: var(--scheme-cs-2-intense);
  --scheme-cs-2-subtle: rgba(112, 90, 183, 0.5);
  --scheme-purple-subtle: var(--scheme-cs-2-subtle);
  --scheme-cs-3: #9d44c0;
  --scheme-lavender: var(--scheme-cs-3);
  --scheme-cs-4: #ec53b0;
  --scheme-pink: var(--scheme-cs-4);
  --scheme-space-gray: #717378;
  --scheme-gray: var(--scheme-space-gray);
  --scheme-space-black: #2c2c2c;
  --scheme-black: var(--scheme-space-black);
  --scheme-neutral-gray: #f6f8fa;
  --scheme-background-black: #0f111a;
  --scheme-background-black-subtle: #242038;
  --scheme-background-blue: #10355b;
  --scheme-background-blue-subtle: #0f2555;
  --scheme-editor-black: var(--scheme-background-black);
  --scheme-editor-blue: var(--scheme-background-blue);
  --scheme-friendly-blue: #44a4fc;
  --scheme-friendly-deep-blue: #187fe7;
  --scheme-white-subtle: rgba(255, 255, 255, 0.2);
  --scheme-link-hover-color: var(--scheme-cs-2);
  --scheme-starting-green: #8be19c;
  --scheme-starting-green-intense: #68cd86;
  --scheme-starting-green-soft: #aef691;
  --scheme-healthy-green: #00b834;
  --scheme-healthy-green-intense: #378d4f;
  --scheme-healthy-green-soft: #35e58f;
  --scheme-warning-yellow: #ffcc00;
  --scheme-warning-yellow-intense: #f48a06;
  --scheme-warning-yellow-soft: #fad850;
  --scheme-danger-red: #ff2c2c;
  --scheme-danger-red-intense: #b82e24;
  --scheme-danger-red-soft: #fd4c4c;
  --scheme-catastrophic-red: #940027;
  --scheme-catastrophic-red-intense: #6b1c1c;
  --scheme-catastrophic-red-soft: #da3a3a;

  // Universal gray tones
  --scheme-gray-100: #f3f4f6;
  --scheme-gray-200: #e5e7eb;
  --scheme-gray-300: #d1d5db;
  --scheme-gray-400: #9ca3af;
  --scheme-gray-500: #6b7280;
  --scheme-gray-600: #4b5563;
  --scheme-gray-700: #374151;
  --scheme-gray-800: #1f2937;
  --scheme-gray-900: #111827;

  // Vueform config
  --vueform-button-color: var(--scheme-cs-2);
  --vueform-button-color-hover: var(--scheme-cs-1);

  // Button presets
  --stylised-button-disabled-color: var(--scheme-gray-500);

  // Font-size presets
  --button-font-size: 20px;
  --editor-button-font-size: 16px;
  --highlighted-button-font-size: 16px;

  // Whole screen presets
  --scrollbar-width: calc(100vw - 100%);

  // Nav-bar presets (Required to allow for easier dynamic resizing)
  --nav-bar-height: 60px;
  --nav-bar-width: 100%;
  --nav-bar-padding: 0 1rem;
  --nav-bar-margin: 0;
  --nav-bar-phone-padding: 0 0 0 0.5rem;
  --nav-bar-phone-margin: 0;

  // Main body presets
  --main-body-height: calc(100vh - var(--nav-bar-height));
  --main-body-width: 100%;
  --main-body-padding: 0;
  --main-body-margin: 0;

  // Searchbar presets
  --searchbar-height: 2rem;
  --searchbar-padding: 0 1rem;
  --searchbar-inner-padding: 0.5rem 1rem;
  --searchbar-sandwich-size: 2.5rem;
  --searchbar-sandwich-svg-size: 1.5rem;
  --searchbar-sandwich-padding: 0.5rem;
  --searchbar-sandwich-margin: 0 0 0 1rem;
  --searchbar-border-radius: 0.5rem;

  // Profile File Card presets
  --profile-file-card-height: 18rem;
  --profile-file-card-width: 16rem;
  --profile-file-card-padding: 1rem;

  // Collab File Card presets
  --collab-file-card-height: 10rem;
  --collab-file-card-width: 32rem;
  --collab-file-card-padding: 1rem;

  // Page Content presets
  --page-content-wrapper-height: calc(100vh - var(--nav-bar-height));
  --page-content-wrapper-width: 100%;
  --page-content-container-margin: 2rem 0;
  --page-content-container-padding: 20px;

  // Editor body presets
  --editor-body-height: var(--main-body-height);
  --editor-menu-height: 2rem;
  --editor-menu-padding: 0;
  --editor-menu-margin: 0;
  --editor-menu-file-name-padding: 1rem 1rem 1rem 0;
  --editor-menu-file-name-margin: 0;
  --editor-monaco-and-preview-menu-height: calc(
    var(--editor-body-height) - var(--editor-menu-height) - var(--editor-border-width)
  );
  --editor-preview-menu-height: var(--editor-monaco-and-preview-menu-height);
  --editor-monaco-height: var(--editor-monaco-and-preview-menu-height);
  --editor-monaco-width: 65vw;
  --editor-monaco-padding-top: 1rem;
  --editor-monaco-margin: 0;
  --editor-border-width: 1px;
  --editor-border: 1px solid var(--text-color);

  // Editor preview presets (Has a ratio of 2:1)
  --editor-preview-frame-width: calc(
    100vw - var(--editor-monaco-width) - var(--editor-border-width)
  );
  --editor-preview-frame-height: calc(var(--editor-preview-frame-width) * 0.5);
  --editor-preview-frame-padding: 0;
  --editor-preview-frame-margin: 0;

  // Editor preview remaining presets
  --editor-preview-meta-info-height: 3rem;
  --editor-preview-meta-info-padding: 0 1rem;
  --editor-preview-slides-navigator-padding: 0.5rem 0;
  --editor-preview-slides-navigator-height: 11rem;
  --editor-preview-slides-navigator-width: var(--editor-preview-frame-width);
  --editor-preview-slides-navigator-element-height: 10rem;
  --editor-preview-slides-navigator-element-width: calc(
    var(--editor-preview-slides-navigator-element-height) * 2
  );
  --editor-preview-slides-navigator-element-margin: 0.5rem;
  --editor-preview-sub-slides-navigator-height: max(
    calc(
      100vh - var(--nav-bar-height) - var(--editor-menu-height) - var(--editor-preview-frame-height) - var(
          --editor-preview-meta-info-height
        ) - var(--editor-preview-slides-navigator-height) - var(--editor-border-width)
    ),
    15rem
  );
  --editor-preview-sub-slides-navigator-list-height: var(
    --editor-preview-sub-slides-navigator-height
  );
  --editor-preview-sub-slides-navigator-list-width: calc(
    var(--editor-preview-slides-navigator-element-width) +
      var(--editor-preview-slides-navigator-element-margin) * 2
  );
  --editor-preview-sub-slides-navigator-list-element-height: calc(
    var(--editor-preview-slides-navigator-element-height) - 1rem
  );
  --editor-preview-sub-slides-navigator-list-element-width: calc(
    var(--editor-preview-sub-slides-navigator-list-element-height) * 2
  );
  --editor-preview-sub-slides-navigator-list-element-margin: 0.5rem;

  // Slides Manager presets
  --editor-slides-manager-slides-preview-height: var(--editor-monaco-and-preview-menu-height);
  --editor-slides-manager-slides-preview-width: min(40vw, 25rem);
  --editor-slides-manager-preview-and-sub-slides-navigator-height: var(
    --editor-monaco-and-preview-menu-height
  );
  --editor-slides-manager-preview-and-sub-slides-navigator-width: calc(
    100vw - var(--editor-slides-manager-slides-preview-width)
  );
  --editor-slides-manager-sub-slides-navigator-height: min(30vh, 15rem);
  --editor-slides-manager-sub-slides-navigator-width: var(
    --editor-slides-manager-preview-and-sub-slides-navigator-width
  );
  --editor-slides-manager-sub-slides-navigator-padding: 1rem;
  --editor-slides-manager-preview-height: calc(
    var(--editor-slides-manager-preview-and-sub-slides-navigator-height) - var(
        --editor-slides-manager-sub-slides-navigator-height
      ) - var(--editor-preview-meta-info-height)
  );
  --editor-slides-manager-preview-width: var(
    --editor-slides-manager-preview-and-sub-slides-navigator-width
  );

  // Slides Manager preview presets (Has a ratio of 2:1)
  --editor-slides-manager-preview-frame-height: calc(
    var(--editor-slides-manager-preview-height) - 1rem
  );
  --editor-slides-manager-preview-frame-width: calc(
    var(--editor-slides-manager-preview-frame-height) * 2 - 1rem
  );
  --editor-slides-manager-preview-frame-padding: 0;
  --editor-slides-manager-preview-frame-margin: 0;

  // Slides Manager remaining presets
  --editor-slides-manager-slides-navigator-padding: 1rem;
  --editor-slides-manager-slides-navigator-height: var(
    --editor-slides-manager-slides-preview-height
  );
  --editor-slides-manager-slides-navigator-width: var(--editor-slides-manager-slides-preview-width);
  --editor-slides-manager-navigator-element-height: calc(
    var(--editor-slides-manager-slides-preview-width) * 0.5
  );
  --editor-slides-manager-navigator-element-width: calc(
    var(--editor-slides-manager-slides-preview-width) - 2rem
  );
  --editor-slides-manager-navigator-element-margin: 1rem;
  --editor-slides-manager-sub-slides-navigator-list-height: calc(
    var(--editor-slides-manager-sub-slides-navigator-height)
  );
  --editor-slides-manager-sub-slides-navigator-list-width: calc(
    var(--editor-slides-manager-sub-slides-navigator-list-height) * 2 - 2rem
  );
  --editor-slides-manager-sub-slides-navigator-list-element-height: calc(
    var(--editor-slides-manager-sub-slides-navigator-list-height) - 2rem
  );
  --editor-slides-manager-sub-slides-navigator-list-element-width: calc(
    var(--editor-slides-manager-sub-slides-navigator-list-element-height) * 2
  );
  --editor-slides-manager-sub-slides-navigator-list-element-margin: 1rem;
}

// Color-scheme presets
$scheme-cs-1: var(--scheme-cs-1);
$scheme-blue: var(--scheme-cs-1);
$scheme-cs-2: var(--scheme-cs-2);
$scheme-purple: var(--scheme-cs-2);
$scheme-cs-2-intense: var(--scheme-cs-2-intense);
$scheme-purple-intense: var(--scheme-cs-2-intense);
$scheme-cs-2-subtle: var(--scheme-cs-2-subtle);
$scheme-purple-subtle: var(--scheme-cs-2-subtle);
$scheme-cs-3: var(--scheme-cs-3);
$scheme-lavender: var(--scheme-cs-3);
$scheme-cs-4: var(--scheme-cs-4);
$scheme-pink: var(--scheme-cs-4);
$scheme-space-gray: var(--scheme-space-gray);
$scheme-gray: var(--scheme-space-gray);
$scheme-space-black: var(--scheme-space-black);
$scheme-black: var(--scheme-space-black);
$scheme-neutral-gray: var(--scheme-neutral-gray);
$scheme-background-black: var(--scheme-background-black);
$scheme-background-black-subtle: var(--scheme-background-black-subtle);
$scheme-editor-black: var(--scheme-background-black);
$scheme-editor-blue: var(--scheme-editor-blue);
$scheme-footer-black-primary: var(--scheme-footer-black-primary);
$scheme-footer-black-secondary: var(--scheme-footer-black-secondary);
$scheme-friendly-blue: var(--scheme-friendly-blue);
$scheme-friendly-deep-blue: var(--scheme-friendly-deep-blue);
$scheme-white-subtle: var(--scheme-white-subtle);
$scheme-link-hover-color: var(--scheme-cs-2);
$scheme-starting-green: var(--scheme-starting-green);
$scheme-starting-green-intense: var(--scheme-starting-green-intense);
$scheme-starting-green-soft: var(--scheme-starting-green-soft);
$scheme-healthy-green: var(--scheme-healthy-green);
$scheme-healthy-green-intense: var(--scheme-healthy-green-intense);
$scheme-healthy-green-soft: var(--scheme-healthy-green-soft);
$scheme-warning-yellow: var(--scheme-warning-yellow);
$scheme-warning-yellow-intense: var(--scheme-warning-yellow-intense);
$scheme-warning-yellow-soft: var(--scheme-warning-yellow-soft);
$scheme-danger-red: var(--scheme-danger-red);
$scheme-danger-red-intense: var(--scheme-danger-red-intense);
$scheme-danger-red-soft: var(--scheme-danger-red-soft);
$scheme-catastrophic-red: var(--scheme-catastrophic-red);
$scheme-catastrophic-red-intense: var(--scheme-catastrophic-red-intense);
$scheme-catastrophic-red-soft: var(--scheme-catastrophic-red-soft);

// Universal gray tones
$scheme-gray-100: var(--scheme-gray-100);
$scheme-gray-200: var(--scheme-gray-200);
$scheme-gray-300: var(--scheme-gray-300);
$scheme-gray-400: var(--scheme-gray-400);
$scheme-gray-500: var(--scheme-gray-500);
$scheme-gray-600: var(--scheme-gray-600);
$scheme-gray-700: var(--scheme-gray-700);
$scheme-gray-800: var(--scheme-gray-800);
$scheme-gray-900: var(--scheme-gray-900);

// Vueform config
$vueform-button-color: var(--vueform-button-color);
$vueform-button-color-hover: var(--vueform-button-color-hover);

// Font-size presets
$button-font-size: var(--button-font-size);
$editor-button-font-size: var(--editor-button-font-size);
$highlighted-button-font-size: var(--highlighted-button-font-size);

// Window size presets
$window-2xlarge: 1500px;
$window-xlarge: 1280px;
$window-large: 1140px;
$window-xmedium: 1024px;
$window-medium: 768px;
$window-small: 640px;
$window-xsmall: 480px;
$window-2xsmall: 320px;
$window-3xsmall: 240px;

// Whole screen presets
$scrollbar-width: var(--scrollbar-width);

// Nav-bar presets (Required to allow for easier dynamic resizing)
$nav-bar-height: var(--nav-bar-height);
$nav-bar-width: var(--nav-bar-width);
$nav-bar-padding: var(--nav-bar-padding);
$nav-bar-margin: var(--nav-bar-margin);
$nav-bar-phone-padding: var(--nav-bar-phone-padding);
$nav-bar-phone-margin: var(--nav-bar-phone-margin);

// Main body presets
$main-body-height: var(--main-body-height);
$main-body-width: var(--main-body-width);
$main-body-padding: var(--main-body-padding);
$main-body-margin: var(--main-body-margin);

// Searchbar presets
$searchbar-height: var(--searchbar-height);
$searchbar-padding: var(--searchbar-padding);
$searchbar-inner-padding: var(--searchbar-inner-padding);
$searchbar-sandwich-size: var(--searchbar-sandwich-size);
$searchbar-sandwich-svg-size: var(--searchbar-sandwich-svg-size);
$searchbar-sandwich-padding: var(--searchbar-sandwich-padding);
$searchbar-sandwich-margin: var(--searchbar-sandwich-margin);
$searchbar-border-radius: var(--searchbar-border-radius);

// Profile File Card presets
$profile-file-card-height: var(--profile-file-card-height);
$profile-file-card-width: var(--profile-file-card-width);
$profile-file-card-padding: var(--profile-file-card-padding);

// Collab File Card presets
$collab-file-card-height: var(--collab-file-card-height);
$collab-file-card-width: var(--collab-file-card-width);
$collab-file-card-padding: var(--collab-file-card-padding);

// Page Content presets
$page-content-wrapper-height: var(--page-content-wrapper-height);
$page-content-wrapper-width: var(--page-content-wrapper-width);
$page-content-container-margin: var(--page-content-container-margin);
$page-content-container-padding: var(--page-content-container-padding);

// Editor body presets
$editor-body-height: var(--editor-body-height);
$editor-menu-height: var(--editor-menu-height);
$editor-menu-padding: var(--editor-menu-padding);
$editor-menu-margin: var(--editor-menu-margin);
$editor-menu-file-name-padding: var(--editor-menu-file-name-padding);
$editor-menu-file-name-margin: var(--editor-menu-file-name-margin);
$editor-monaco-and-preview-menu-height: var(--editor-monaco-and-preview-menu-height);
$editor-preview-menu-height: var(--editor-preview-menu-height);
$editor-monaco-height: var(--editor-monaco-height);
$editor-monaco-width: var(--editor-monaco-width);
$editor-monaco-padding-top: var(--editor-monaco-padding-top);
$editor-monaco-margin: var(--editor-monaco-margin);
$editor-border-width: var(--editor-border-width);
$editor-border: var(--editor-border);

// Editor preview presets (Has a ratio of 2:1)
$editor-preview-frame-height: var(--editor-preview-frame-height);
$editor-preview-frame-width: var(--editor-preview-frame-width);
$editor-preview-frame-padding: var(--editor-preview-frame-padding);
$editor-preview-frame-margin: var(--editor-preview-frame-margin);

// Editor preview remaining presets
$editor-preview-meta-info-height: var(--editor-preview-meta-info-height);
$editor-preview-meta-info-padding: var(--editor-preview-meta-info-padding);
$editor-preview-slides-navigator-padding: var(--editor-preview-slides-navigator-padding);
$editor-preview-slides-navigator-height: var(--editor-preview-slides-navigator-height);
$editor-preview-slides-navigator-width: var(--editor-preview-slides-navigator-width);
$editor-preview-slides-navigator-element-height: var(
  --editor-preview-slides-navigator-element-height
);
$editor-preview-slides-navigator-element-width: var(
  --editor-preview-slides-navigator-element-width
);
$editor-preview-slides-navigator-element-margin: var(
  --editor-preview-slides-navigator-element-margin
);
$editor-preview-sub-slides-navigator-height: var(--editor-preview-sub-slides-navigator-height);
$editor-preview-sub-slides-navigator-list-height: var(
  --editor-preview-sub-slides-navigator-list-height
);
$editor-preview-sub-slides-navigator-list-width: var(
  --editor-preview-sub-slides-navigator-list-width
);
$editor-preview-sub-slides-navigator-list-element-height: var(
  --editor-preview-sub-slides-navigator-list-element-height
);
$editor-preview-sub-slides-navigator-list-element-width: var(
  --editor-preview-sub-slides-navigator-list-element-width
);
$editor-preview-sub-slides-navigator-list-element-margin: var(
  --editor-preview-sub-slides-navigator-list-element-margin
);

// Slides Manager presets
$editor-slides-manager-slides-preview-height: var(--editor-slides-manager-slides-preview-height);
$editor-slides-manager-slides-preview-width: var(--editor-slides-manager-slides-preview-width);
$editor-slides-manager-preview-and-sub-slides-navigator-height: var(
  --editor-slides-manager-preview-and-sub-slides-navigator-height
);
$editor-slides-manager-preview-and-sub-slides-navigator-width: var(
  --editor-slides-manager-preview-and-sub-slides-navigator-width
);
$editor-slides-manager-sub-slides-navigator-height: var(
  --editor-slides-manager-sub-slides-navigator-height
);
$editor-slides-manager-sub-slides-navigator-width: var(
  --editor-slides-manager-sub-slides-navigator-width
);
$editor-slides-manager-sub-slides-navigator-padding: var(
  --editor-slides-manager-sub-slides-navigator-padding
);
$editor-slides-manager-preview-height: var(--editor-slides-manager-preview-height);
$editor-slides-manager-preview-width: var(--editor-slides-manager-preview-width);

// Slides Manager preview presets (Has a ratio of 2:1)
$editor-slides-manager-preview-frame-height: var(--editor-slides-manager-preview-frame-height);
$editor-slides-manager-preview-frame-width: var(--editor-slides-manager-preview-frame-width);
$editor-slides-manager-preview-frame-padding: var(--editor-slides-manager-preview-frame-padding);
$editor-slides-manager-preview-frame-margin: var(--editor-slides-manager-preview-frame-margin);

// Slides Manager remaining presets
$editor-slides-manager-slides-navigator-padding: var(
  --editor-slides-manager-slides-navigator-padding
);
$editor-slides-manager-slides-navigator-height: var(
  --editor-slides-manager-slides-navigator-height
);
$editor-slides-manager-slides-navigator-width: var(--editor-slides-manager-slides-navigator-width);
$editor-slides-manager-navigator-element-height: var(
  --editor-slides-manager-navigator-element-height
);
$editor-slides-manager-navigator-element-width: var(
  --editor-slides-manager-navigator-element-width
);
$editor-slides-manager-navigator-element-margin: var(
  --editor-slides-manager-navigator-element-margin
);
$editor-slides-manager-sub-slides-navigator-list-height: var(
  --editor-slides-manager-sub-slides-navigator-list-height
);
$editor-slides-manager-sub-slides-navigator-list-width: var(
  --editor-slides-manager-sub-slides-navigator-list-width
);
$editor-slides-manager-sub-slides-navigator-list-element-height: var(
  --editor-slides-manager-sub-slides-navigator-list-element-height
);
$editor-slides-manager-sub-slides-navigator-list-element-width: var(
  --editor-slides-manager-sub-slides-navigator-list-element-width
);
$editor-slides-manager-sub-slides-navigator-list-element-margin: var(
  --editor-slides-manager-sub-slides-navigator-list-element-margin
);

// Light & Dark Theme
html,
html[data-theme='light'] {
  --text-color: black;
  --text-color-inverted: white;
  --overlay-background-color: white;
  --overlay-background-color-subtle: var(--scheme-neutral-gray);
  --box-shadow-color: rgba(0, 0, 0, 0.1);
  --searchbar-background: var(--scheme-gray-100);
  --vueform-background: white;
  --vueform-background-hover: var(--scheme-gray-100);
  --vueform-highlighted-box-background: var(--scheme-gray-100);
  --vueform-highlighted-box-background-color-hover: var(--scheme-gray-200);
  --vueform-highlighted-box-background-color-active: var(--scheme-gray-300);
  --vueform-highlighted-box-border-color: var(--scheme-gray-300);
  --placeholder-background: var(--scheme-gray-100);
  --save-state-background-shared: var(--scheme-lavender);
  --save-state-background-saved: var(--scheme-healthy-green-soft);
  --save-state-background-error: var(--scheme-danger-red-soft);
  --save-state-background-not-saved: var(--scheme-warning-yellow-soft);
  --stylised-button-background-color: var(--scheme-cs-2);
  --stylised-button-hover-text-color: white;
  --dot-dot-dot-color: var(--scheme-cs-2);
  --dot-dot-dot-color-subtle: var(--scheme-cs-2-subtle);
  --scheme-pulse-color: rgba(0, 0, 0, 0.2);
  --scheme-footer-black-primary: #0f111a;
  --scheme-footer-black-secondary: #1a1c2b;
  --scheme-background: transparent;
  --scheme-home-content-background-primary: white;
  --scheme-home-content-background-secondary: var(--scheme-gray-100);
  --scheme-toggleable-button: var(--scheme-gray-100);
  --scheme-toggleable-button-disabled: var(--scheme-gray-300);
  --scheme-toggleable-button-highlighted: var(--scheme-lavender);
  --scheme-toggleable-button-border: transparent;
  --scheme-toggleable-button-disabled-border: transparent;
  --scheme-file-name-input-background-color: var(--scheme-gray-100);
  --scheme-file-name-input-background-color-highlighted: var(--scheme-gray-200);
  --scheme-file-name-input-background-color-selection: #b3d4fc;

  ::-moz-selection,
  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }
}

html[data-theme='dark'] {
  --text-color: white;
  --text-color-inverted: black;
  --overlay-background-color: var(--scheme-background-black-subtle);
  --overlay-background-color-subtle: var(--scheme-background-blue-subtle);
  --box-shadow-color: transparent;
  --searchbar-background: rgba(0, 0, 0, 0.2);
  --vueform-background: var(--scheme-gray-900);
  --vueform-background-hover: var(--scheme-gray-700);
  --vueform-highlighted-box-background-color: var(--scheme-gray-700);
  --vueform-highlighted-box-background-color-hover: var(--scheme-gray-800);
  --vueform-highlighted-box-background-color-active: var(--scheme-gray-900);
  --vueform-highlighted-box-border-color: var(--scheme-gray-800);
  --placeholder-background: var(--scheme-gray-900);
  --save-state-background-shared: var(--scheme-lavender);
  --save-state-background-saved: var(--scheme-healthy-green);
  --save-state-background-error: var(--scheme-danger-red);
  --save-state-background-not-saved: var(--scheme-warning-yellow);
  --stylised-button-background-color: white;
  --stylised-button-hover-text-color: black;
  --dot-dot-dot-color: white;
  --dot-dot-dot-color-subtle: var(--scheme-white-subtle);
  --scheme-pulse-color: rgba(255, 255, 255, 0.4);
  --scheme-footer-black-primary: #0f111a;
  --scheme-footer-black-secondary: #1a1c2b;
  --scheme-background: var(--scheme-background-black);
  --scheme-home-content-background-primary: var(--scheme-footer-black-primary);
  --scheme-home-content-background-secondary: var(--scheme-footer-black-secondary);
  --scheme-toggleable-button: transparent;
  --scheme-toggleable-button-disabled: transparent;
  --scheme-toggleable-button-highlighted: white;
  --scheme-toggleable-button-border: white;
  --scheme-toggleable-button-disabled-border: var(--stylised-button-disabled-color);
  --scheme-file-name-input-background-color: var(--scheme-purple-subtle);
  --scheme-file-name-input-background-color-highlighted: var(--scheme-purple-subtle);
  --scheme-file-name-input-background-color-selection: var(--scheme-purple-intense);

  ::-moz-selection,
  ::selection {
    background: #2e3b4d;
    text-shadow: none;
  }
}

$text-color: var(--text-color);
$text-color-inverted: var(--text-color-inverted);
$overlay-background-color: var(--overlay-background-color);
$overlay-background-color-subtle: var(--overlay-background-color-subtle);
$box-shadow-color: var(--box-shadow-color);
$searchbar-background: var(--searchbar-background);
$vueform-background: var(--vueform-background);
$vueform-background-hover: var(--vueform-background-hover);
$vueform-highlighted-box-background-color: var(--vueform-highlighted-box-background-color);
$vueform-highlighted-box-background-color-hover: var(
  --vueform-highlighted-box-background-color-hover
);
$vueform-highlighted-box-background-color-active: var(
  --vueform-highlighted-box-background-color-active
);
$vueform-highlighted-box-border-color: var(--vueform-highlighted-box-border-color);
$placeholder-background: var(--placeholder-background);
$save-state-background-shared: var(--save-state-background-shared);
$save-state-background-saved: var(--save-state-background-saved);
$save-state-background-error: var(--save-state-background-error);
$save-state-background-not-saved: var(--save-state-background-not-saved);
$stylised-button-text-color: var(--stylised-button-background-color);
$stylised-button-hover-text-color: var(--stylised-button-hover-text-color);
$stylised-button-disabled-color: var(--stylised-button-disabled-color);
$dot-dot-dot-color: var(--dot-dot-dot-color);
$dot-dot-dot-color-subtle: var(--dot-dot-dot-color-subtle);
$scheme-pulse-color: var(--scheme-pulse-color);
$scheme-background: var(--scheme-background);
$scheme-home-content-background-primary: var(--scheme-home-content-background-primary);
$scheme-home-content-background-secondary: var(--scheme-home-content-background-secondary);
$scheme-toggleable-button: var(--scheme-toggleable-button);
$scheme-toggleable-button-disabled: var(--scheme-toggleable-button-disabled);
$scheme-toggleable-button-highlighted: var(--scheme-toggleable-button-highlighted);
$scheme-toggleable-button-border: var(--scheme-toggleable-button-border);
$scheme-toggleable-button-disabled-border: var(--scheme-toggleable-button-disabled-border);
$scheme-file-name-input-background-color: var(--scheme-file-name-input-background-color);
$scheme-file-name-input-background-color-highlighted: var(--scheme-file-name-input-background-color-highlighted);
$scheme-file-name-input-background-color-selection: var(--scheme-file-name-input-background-color-selection);
