<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Solardoc" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />

    <!-- Solardoc meta properties -->
    <meta property="og:site_name" content="SolarDoc">
    <meta property="og:title" content="SolarDoc">
    <meta property="og:description" content="Create and share beautiful presentations with anyone">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="https://raw.githubusercontent.com/SYP-AHIF-2023-24-25/SolarDoc/main/images/500x1500-banner-with-desc.png">
    <meta property="og:locale" content="en_GB">

    <!-- Set the icon -->
    <link rel="icon" type="image/png" href="https://raw.githubusercontent.com/SYP-AHIF-2023-24-25/SolarDoc/main/images/favicon.ico">

    <!-- Assign the user token for authenticating with the WebSocket & API -->
    <script>window.userToken = "<%= assigns[:user_token] %>";</script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/settings"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Settings
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/logout"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link
            href={~p"/users/register"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Register
          </.link>
        </li>
        <li>
          <.link
            href={~p"/users/login"}
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log in
          </.link>
        </li>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>
</html>
